.menu {
    font-family: Arial;
}

#main,
.menu,
.inicio,
.bienvenida {
    display: none !important;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*   padding-right: 10px !important;
    padding-left: 10px !important; */
}
